@import url(./font/GeistMonoVF.ttf) ;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Geist;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
 
}

@font-face {
  font-family: Geist;
  src: url(../font/GeistMonoVF.ttf);
}

:root {
  --primary-color-red: #f47878;
  --primary-color-green: #8af8c3;
  --secondary-color: #f0eded;
  --font-color: #000000;
  --background-color: #ffffff;
  --delete-background-color: #9c9c9c7b;
  --toggle-font-color: #ffffff;
  --toggle-background-color: #000000;
  --border-color: #898888ea;
}

/* for dark mode */

.dark-mode {
  --primary-color-red: #f47878;
  --primary-color-green: #65c48f;
  --secondary-color: #2d2d2d;
  --font-color: #ffffff;
  --background-color: #000000;
  --delete-background-color: #5c5c5c;
  --toggle-font-color: #000000;
  --toggle-background-color: #ffffff;
  --border-color: #898888ea;
}

input[type="text"] {
  font-family: Geist;
  font-weight: 300;
  font-size: 1rem;
  border: none;
  border-bottom: solid 1px var(--border-color);
  color: var(--font-color);
}
input[type="date"] {
  font-family: Geist;
  color: var(--font-color);
}

#header {
  height: 15vh;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.2vw;
  position: relative;
}

.theme-fork {
  /* background-color: blue; */
  width: 65%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

.theme-change {
  height: 4rem;
  min-width: 50%;
  width: 60%;
  /* background-color: rgb(170, 159, 159); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.theme {
  height: 35px;
  width: 35px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  span {
    font-size: 2rem;
  }
}

.earth {
  height: inherit;
  width: 50%;
  /* background-color: #65c48f; */
  display: flex;
  align-items: center;
  justify-content: end;
  transition: all ease 0.5s;
  span {
    font-size: 2rem;
  }
}
.star-section{
  margin-left: 1rem;
  /* background-color: red; */
  width: 35%;
  display: flex;
  justify-content: end;
  align-items: center;
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
  }
  span{
    font-size: 2rem;
    margin-right: 1rem;
  }
}

.go-down{
  display: none;
  a{
    text-decoration: none;
  }
  span{
    font-size: 3rem;
  }
}

.alert {
  background-color: var(--primary-color-red);
  padding: 20px 20px;
  min-width: 330px;
  border-radius: 12px;
  position: absolute;
  left: 40vw;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}
.alert span:nth-child(3) {
  cursor: pointer;
}
/* create animation */
.alert.show {
  animation: show_alert 3s ease forwards;
}
@keyframes show_alert {
  0% {
    transform: translateY(-200%);
  }
  40% {
    transform: translateY(-0%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-200%);
  }
}

.hide {
  display: none;
}

.headers {
  height: 10vh;
  width: 350px;
  /* border: solid black 1px; */
  margin: 10px;
  h1 {
    font-size: 4vw;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2rem;
  }
}

/* end of header portion */

/* Start reminder portion */

#reminder {
  width: 100%;
  height: 79vh;
  /* border: solid black 1px; */
  display: flex;
  justify-content: center;
  align-items: start;
  color: var(--font-color);
  /* background-color: #bb8aef; */
}

#remainder-operation {
  /* background-color: #42be82; */
  height: 77vh;
  width: 33%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reminder-edit {
  height:auto;
  width: 96%;
  min-width: 300px;
  border: solid var(--border-color) 1px;
  /* margin: 5px; */
  border-radius: 25px;
  padding: 30px 5px 5px 15px;
  /* background-color: grey; */
  margin-bottom: 6px;
}

#whats-new {
  margin: 0;
}

.reminder-edit-font {
  font-size: 20px;
  /* font-style: normal; */
  /* font-weight: 200; */
}

.reminder-input {
  border-radius: 5px;
  height: 30px;
  width: 95%;
  min-width: 250px;
  margin: 5px 0 18px 0;
  padding: 5px;
  background-color: transparent;
  outline: none;
}

#more-about {
  margin: 5px;
  margin-bottom: 0;
  margin-top: 0;
}
#more-about input {
  height: 50px;
}
.select-items {
  font-size: 15px;
  font-weight: 300;
  border-radius: 5px;
  border: none;
  border-bottom: solid 1px var(--border-color);
  background: transparent;
  height: 30px;
  width: 95%;
  min-width: 250px;
  margin: 5px 0 17px 0;
  padding: 5px;
  outline: none;
  color: #949494;
}

#timer {
  min-width: 300px;
  display: flex;
  justify-content: start;
  align-items: center;
  /* background-color: #8af8c3; */
  height: 40px;
  flex-wrap: wrap;
  gap: 1rem;
}

#timer-day {
  width: 100px;
  height: 33px;
  margin: 2px;
  font-size: 15px;
  /* font-weight: 200; */
  line-height: normal;
  border-radius: 5px;
  border: none;
  border-bottom: solid 1px var(--border-color);
  background: transparent;
  /* margin: 10px 0 17px 0; */
  padding: 5px;
  color: #898989;
  outline: none;
}

#custom-calander {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #6953e4; */
}
#custom-date {
  height: 33px;
  width: 33%;
  border-radius: 5px;
  border: none;
  border-bottom: solid 1px var(--border-color);
  background: transparent;
  padding: 5px;
  outline: none;
  color: var(--font-color);
}

#custom-time {
  height: 33px;
  width: 25%;
  border-radius: 5px;
  border: none;
  border-bottom: solid 1px var(--border-color);
  background: transparent;
  color: var(--font-color);
  
}

#submit {
  width: 90%;
  height: 10vh;
  /* border: solid black 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background-color: #be6742; */
}
#add {
  height: 40px;
  width: 140px;
  border-radius: 5px;
  margin-bottom: 2px;
  background-color: transparent;
  border: 1px solid #aaa8a8;
  color: var(--font-color);
}
#add:hover {
  background-color: var(--toggle-background-color);
  transition: all ease 0.3s;
  color: var(--toggle-font-color);
}

/* adding catagory */
#adding-catagory {
  height: 15vh;
  width: 96%;
  min-width: 300px;
  /* background-color: #b453e4; */
  border: solid var(--border-color) 1px;
  margin: 5px;
  border-radius: 25px;
  padding: 25px 5px 5px 15px;
}

#adding-catagory-input input {
  border-radius: 5px;
  border: none;
  border-bottom: solid 1px var(--border-color);
  background: transparent;
  height: 35px;
  width: 75%;
  padding: 5px;
  outline: none;
}

#adding-catagory-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: #74d5ea; */
  height: 50px;
  padding-right: 10px;
}
#adding-catagory-input button span {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size: 0.8rem;
  color: var(--font-color);
}

#adding-catagory-input button {
  height: 35px;
  width: auto;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid var(--border-color) 1px;
  padding: 1rem 1rem;
  margin-left: 2px;
  background-color: transparent;
  border-radius: 5px;
}

#adding-catagory-input button:hover {
  background-color: var(--toggle-background-color);
  transition: all ease 0.3s;
  span {
    color: var(--toggle-font-color);
  }
}

#adding-catagory-header p {
  font-size: 20px;
  font-style: normal;
  /* font-weight: 200; */
  line-height: normal;
}
#adding-catagory-header p span {
  /* color: rgb(0, 149, 255); */
}

/* Reminder data portion */

#reminder-data {
  height: 77vh;
  width: 1000px;
  border: solid var(--border-color) 1px;
  margin: 0px;
  border-radius: 5px;
  padding: 10px;
  border-radius: 25px;
  /* box-shadow: -2.5px -2.5px 5px rgb(193, 191, 191); */
  /* background-color: #6953e4; */
  overflow: hidden;
}

#all-catagories {
  height: 10vh;
  width: 100%;
  /* border: solid black 1px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: scroll;
  flex-wrap: wrap;
  /* background-color: #f47878; */
}
.catagory-button {
  height: 30px;
  width: 130px;
  border: solid var(--border-color) 1px;
  border-radius: 2px;
  transition: all ease 0.5s;
  margin: 5px;
  background-color: transparent;
  color: var(--font-color);
}
.catagory-button:hover {
  background-color: var(--toggle-background-color);
  color: var(--toggle-font-color);
}

#all-learning-container-zone {
  height: 58vh;
  width: 100%;
  /* border: solid black 1px; */
  margin: 2px;
  /* padding: 10px; */
  border-radius: 15px;
  overflow-y: scroll;
  flex-wrap: wrap;
  display: flex;
  justify-content: start;
  align-items: start;

  /* background-color: #42be82; */
}
.all-learning-containers {
  /* background-color: grey; */
  height: 58vh;
  width: 100%;
  border-radius: 15px;
  padding: 2px;
  display: none;
}

#delete-reminder-conatainer {
  height: 30px;
  width: 98%;
  margin: 8px;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--delete-background-color);
  color: #ffffff;
  cursor: pointer;
}

#delete-reminder-conatainer:hover {
  background-color: var(--primary-color-red);
}

.reminder-container {
  /* height: 150px; */
  height: auto;
  width: 270px;
  margin: 20px;
  border-radius: 16px;
  transition: all ease 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reminder-container:hover {
  /* height: 220px;
  width: 320px;
  margin: 0px; */
  transform: scale(1.15);
}

.reminder-container:hover .container-deleteUpdate {
  display: flex;
  border-radius: 0px 0px 15px 15px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.remainder-link {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  /* border: 1px solid rgb(70, 70, 70); */
  border-radius: 50%;
  margin: 3px;
}

.remainder-link a svg {
  height: 40px;
  width: 40px;
}

.remainder-details {
  /* background-color: #547324; */
  padding: 7px 5px 0px 20px;
  width: 100%;
}

.container-heading {
  width: 90%;
  height: auto;
  max-height: 45px;
  /* background-color: #2b513f; */
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 0.1rem;
}

.container-remimdTime {
  /* background-color: #c49442; */
  width: 90%;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(31, 31, 31, 0.32);
  font-size: 13px;
  margin-bottom: 10px;
  color: var(--font-color);
}

.container-deleteUpdate {
  height: 25px;
  width: 100%;
  background-color: var(--primary-color-red);
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  border-radius: 0 0 15px 15px;
  justify-content: center;
  position: relative;
}

.container-deleteUpdate img {
  height: 20px;
  width: 20px;
}

/* Sperate reminder container for each container */
.visible {
  display: flex;
  align-items: start;
  justify-content: start;
  overflow-y: scroll;
  flex-wrap: wrap;
}

#contact {
  height: 5vh;
  width: 100%;
}

.catagory-button.active {
  background-color: #007bff; /* Change to your desired color */
  color: white;
}


/* Add responsive */
@media (max-width: 650px) {
  /* Adjustments for smaller screens */
  #reminder-edit {
    height: auto;
  }
  #reminder {
    flex-wrap: wrap;
  }
  #timer{
    flex-wrap: nowrap;
  }

  #remainder-operation {
    width: 100%;
  }

  .fork-section{
    justify-content: space-between;
  }
  .go-down{
    display: inline-block;
  }

  .alert {
    left: 1.5rem;
  }

  #header {
    flex-direction: column;
  }
  .theme-fork {
    width: 100%;
  }
  .headers {
    h1 {
      font-size: 3rem;
      width: 100%;
      /* background-color: antiquewhite; */
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .all-learning-containers {
      align-items: center;
      justify-content: center;
      padding: 0;
      /* background-color: red; */
    }
}
