.cursor{
    position: fixed;
    height: 50px;
    width: 50px;
    border: 1px solid #575757;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%,-50%);
    transition: .1s;
}
.cursor2{
    position: fixed;
    height: 8px;
    width: 8px;
    background-color: #575757;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%,-50%);
    transition: .15s;
}

#login-container:hover ~.cursor{
    transform: translate(-50%,-50%) scale(1.5);
    background-color: #cfcbcb;
    border: none;
    opacity: .5;
}
#login-container:hover ~.cursor2{
    opacity: 0;
}