@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Orbitron;
}


#header {
  height: 15vh;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headers {
  height: 10vh;
  width: 350px;
  /* border: solid black 1px; */
  margin: 10px;
}

h1 {
  color: #000;
  font-family: Orbitron;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#auth {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.binary {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#true {
  background-color: #8af8c3;
}
#false {
  background-color: #f47878;
}
.binary p {
  color: #000;
  font-family: Orbitron;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h2 {
  color: #000;
  font-family: Orbitron;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* end of header portion */

/* Start reminder portion */

#reminder {
  width: 100%;
  height: 79vh;
  /* border: solid black 1px; */
  display: flex;
  justify-content: center;
  align-items: start;
}

#remainder-operation{
  /* background-color: #42be82; */
  height: 77vh;
  
}


#reminder-edit {
  height: 62vh;
  width: 460px;
  border: solid rgb(152, 152, 152) 1px;
  margin: 5px;
  border-radius: 25px;
  padding: 40px 5px 5px 15px;
  border-radius: 43px;
  background: #ffffff;
  box-shadow: -2.5px -2.5px 5px rgb(193, 191, 191);

}

#whats-new {
  margin: 5px;
}

.reminder-edit-font {
  color: #000;
  font-family: Orbitron;
  font-size: 20px;
  font-style: normal;
  /* font-weight: 200; */
  line-height: normal;
}
.reminder-edit-font p span {
  color: rgb(0, 149, 255);
}

.reminder-input {
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  background: #f9f9f9;
  height: 30px;
  width: 400px;
  margin: 10px 0 18px 0;
  padding: 5px;
  font-family: Orbitron;
}

#more-about {
  margin: 5px;
}
#more-about input {
  height: 50px;
}
.select-items {
  color: #000;
  font-family: Orbitron;
  font-size: 15px;
  font-style: normal;
  /* font-weight: 200; */
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  background: #f9f9f9;
  height: 30px;
  width: 400px;
  margin: 10px 0 17px 0;
  padding: 5px;
}
#timer {
  display: flex;
  justify-content: start;
  align-items: center;
}

#timer-day {
  width: 150px;
  height: 33px;
}


#repeat {
  height: 28px;
  width: 28px;
  border: solid black 1px;
  margin-left: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#repeat img {
  height: 15px;
  width: 15px;
}
#custom-calander {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#custom-calander input {
  width: 160px;
  height: 30px;
  margin: 20px;
  padding-left: 20px;
}


#submit {
  width: 420px;
  height: 75px;
  /* border: solid black 1px; */
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 10px;
}
#add {
  height: 50px;
  width: 150px;
}
#add:hover {
  background-color: #42be82;
  transition: all ease 0.3s;
}

/* adding catagory */
#adding-catagory{
  height: 15vh;
  width: 460px;
  /* background-color: #b453e4; */
  border: solid rgb(152, 152, 152) 1px;
  margin: 5px;
  border-radius: 25px;
  padding: 25px 5px 5px 15px;
  border-radius: 43px;
  background: #ffffff;
  box-shadow: -2.5px -2.5px 5px rgb(193, 191, 191);
}

#adding-catagory-input input{
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  background: #f9f9f9;
  height: 35px;
  width: 350px;
  padding: 5px;
}

#adding-catagory-input{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: #74d5ea; */
  height: 50px;
}
#adding-catagory-input button span{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size: 1rem;
}

#adding-catagory-input button{
  height: 35px;
  width: 70px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
}

#adding-catagory-header p{
  color: #000;
  font-family: Orbitron;
  font-size: 20px;
  font-style: normal;
  /* font-weight: 200; */
  line-height: normal;
}
#adding-catagory-header p span {
  color: rgb(0, 149, 255);
}
  



/* Reminder data portion */

#reminder-data {
  height: 77vh;
  width: 1000px;
  border: solid rgb(132, 132, 132) 1px;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  border-radius: 43px;
background: #ffffff;
box-shadow: -2.5px -2.5px 5px rgb(193, 191, 191);
/* background-color: #6953e4; */
}

#all-catagories {
  height: 10vh;
  width: 100%;
  /* border: solid black 1px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: scroll;
  flex-wrap: wrap;
  /* background-color: #f47878; */
}
.catagory-button {
  height: 30px;
  width: 130px;
  background-color: #fff;
  border: solid rgb(190, 190, 190) 1px;
  border-radius: 2px;
  transition: all ease 0.5s;
  margin: 5px;
}
.catagory-button:hover {
  background-color: #000;
  color: #fff;
}


#all-learning-container-zone {
  height: 58vh;
  width: 100%;
  /* border: solid black 1px; */
  margin: 2px;
  /* padding: 10px; */
  border-radius: 15px;
  overflow-y: scroll;
  flex-wrap: wrap;
  display: flex;
  justify-content: start;
  align-items: start;
 
  /* background-color: #42be82; */
  
}
.all-learning-containers{
  /* background-color: grey; */
  height: 58vh;
  width: 100%;
  border-radius: 15px;
  padding: 2px;
  display: none;
}

#delete-reminder-conatainer{
  background-color: #f0eded;
  height: 30px;
  width: 98%;
  margin: 8px;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#delete-reminder-conatainer:hover{
  background-color: #f47878;
}

.reminder-container {
  height: 150px;
  border: solid rgb(192, 192, 192) 1px;
  width: 270px;
  margin: 20px;
  border-radius: 15px;
  transition: all ease 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  gap: 10px;
  /* padding: 10px 5px 5px 20px; */
}

.reminder-container:hover {
  height: 220px;
  width: 320px;
  margin: 0px;
}

.reminder-container:hover .container-deleteUpdate{
  display: block;
  border-radius: 0px 0px 15px 15px;
  opacity: 1;
  
}

.remainder-details{
  /* background-color: #8aefad; */
  padding: 7px 5px 20px 20px;
  
}

.container-heading{
  width: 90%;
  height: auto;
  max-height: 45px;
  /* background-color: #42be82; */
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.container-subHeading{
  width: 90%;
  height: 70px;
  font-size: .6rem;
  /* background-color: #6953e4; */
  font-style: italic;
  color: rgba(0, 0, 0, 0.523);
}
.container-subHeading p span{
  font-size: .7rem;
  color: #ffffff;
  font-style: normal;
}

.container-remimdTime{
  /* background-color: #c49442; */
  font-size: .7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reminder-container:nth-child(1) {
  background-color: #a3cdeb;
}

.reminder-container:nth-child(2) {
  background-color: #74d5ea;
}

.reminder-container:nth-child(3) {
  background-color: #bdb2fc;
}
.reminder-container:nth-child(4) {
  background-color: #8aefad;
}
.reminder-container:nth-child(5) {
  background-color: #6953e4;
}
.reminder-container:nth-child(6) {
  background-color: #fce8b2;
}

.container-deleteUpdate{
  height: 30px;
  width: 100%;
  background-color: red;
  display:none;
  opacity: 0;
  transition: opacity 1s ease;
}


.container-deleteUpdate img{
  height: 25px;
  width: 25px;

} 

/* Sperate reminder container for each container */
.visible{
  display: flex;
  align-items: start;
  justify-content: start;
  overflow-y: scroll;
  flex-wrap: wrap;
}

.vanish{
  display: none;
}

#contact {
  height: 5vh;
  width: 100%;
  /* border: solid black 1px; */
}
