
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Geist;
  
}

body{
  background-color: #000000;
  background-color: #fff;
}

p,h1,h2,h3,h4,h5,h6,span,input[type="text"],input[type="select"],input[type="date"],input[type="time"]{
  color: #fff;
  color: #000000;
}




@font-face {
  font-family: "Monserrat";
  src: url(../font/Montserrat-Light.ttf);
  src: url(../font/Montserrat-Medium.ttf);
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Geist;
  src: url(../font/GeistMonoVF.ttf);
  
}

:root{
  --primary-color-red:#f47878;
  --primary-color-green:#8af8c3;
  --secondary-color:#f0eded;
}


input[type="text"] {
  font-family: Geist;
  font-weight: 300;
  font-size: 1rem;
  border: none;
  border-bottom: solid 1px rgb(137, 136, 136);
}
input[type="date"] {
  font-family: Geist

}

#header {
  height: 15vh;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  font-family: Orbitron;
}
.alert{
  background-color: var(--primary-color-red);
  padding: 20px 20px;
  min-width: 330px;
  position: absolute;
  top: 20px;
  left: 620px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.alert span:nth-child(3){
  cursor: pointer;
}
/* create animation */
.alert.show{
  animation: show_alert 3s ease forwards;
}
@keyframes show_alert {
  0%{
    transform: translateY(-200%);
  }
  40%{
    transform: translateY(-0%);
  }
  80%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-200%);
  }
}

.hide{
  display: none;
}

.headers {
  height: 10vh;
  width: 350px;
  /* border: solid black 1px; */
  margin: 10px;
  
}

h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* end of header portion */

/* Start reminder portion */

#reminder {
  width: 100%;
  height: 79vh;
  /* border: solid black 1px; */
  display: flex;
  justify-content: center;
  align-items: start;
  /* background-color: #bb8aef; */
}

#remainder-operation {
  /* color: #fff; */
  /* background-color: #42be82; */
  height: 77vh;
  width: 33%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
}

#reminder-edit {
  height: 60vh;
  width: 96%;
  min-width: 300px;
  border: solid rgb(81, 81, 81) 1px;
  /* margin: 5px; */
  border-radius: 25px;
  padding: 20px 5px 5px 15px;
  /* background-color: grey; */
  margin-bottom: 6px;

}

#whats-new {
  margin: 0;
}

.reminder-edit-font {
  font-size: 20px;
  /* font-style: normal; */
  /* font-weight: 200; */
}
.reminder-edit-font p span {
  
}

.reminder-input {
  border-radius: 5px;
  height: 30px;
  width: 95%;
  min-width: 250px;
  margin: 5px 0 18px 0;
  padding: 5px;
  background-color: transparent;
  outline: none;
}

#more-about {
  margin: 5px;
  margin-bottom: 0;
  margin-top: 0;
}
#more-about input {
  height: 50px;
}
.select-items {
  font-size: 15px;
  font-weight: 300;
  border-radius: 5px;
  border: none;
  border-bottom: solid 1px #898888;
  background:transparent;
  height: 30px;
  width: 95%;
  min-width: 250px;
  margin: 5px 0 17px 0;
  padding: 5px;
  outline: none;
  color: #b5b4b4;
}


#timer {
  display: flex;
  justify-content: start;
  align-items: center;
  /* background-color: #8af8c3; */
  height: 40px;
  gap: 3vh;
}

#timer-day {
  width:150px;
  height: 33px;
  margin: 2px;
  font-size: 15px;
  /* font-weight: 200; */
  line-height: normal;
  border-radius: 5px;
  border: none;
  border-bottom: solid 1px rgb(137, 136, 136);
  background:transparent;
  /* margin: 10px 0 17px 0; */
  padding: 5px;
  color: #a9a9a9;
  outline: none;
}

#custom-calander {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #6953e4;
}
#custom-date{
  height: 33px;
  width: 33%;
  border-radius: 5px;
  border: none;
  border-bottom: solid 1px rgb(137, 136, 136);
  background: transparent;
  padding: 5px;
  outline: none;
}

#custom-time{
  height: 33px;
  width: 25%;
  border-radius: 5px;
  border: none;
  border-bottom: solid 1px rgb(137, 136, 136);
  background: transparent;
  padding: 5px;
  outline: none;

}

#submit {
  width: 90%;
  height: 10vh;
  /* border: solid black 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background-color: #be6742; */
}
#add {
  height: 40px;
  width: 140px;
  border-radius: 5px;
  margin-bottom: 2px;
  background-color: transparent;
  border: 1px solid #aaa8a8;
  color: #fff;
}
#add:hover {
  background-color: #000000;
  transition: all ease 0.3s;
  color: #fff;
}

/* adding catagory */
#adding-catagory {
  height: 15vh;
  width: 96%;
  min-width: 300px;
  /* background-color: #b453e4; */
  border: solid rgb(81, 81, 81) 1px;
  margin: 5px;
  border-radius: 25px;
  padding: 25px 5px 5px 15px;

}

#adding-catagory-input input {
  border-radius: 5px;
  border: none;
  border-bottom: solid 1px rgb(137, 136, 136);
  background:transparent;
  height: 35px;
  width: 75%;
  padding: 5px;
  outline: none;
}

#adding-catagory-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: #74d5ea; */
  height: 50px;
  padding-right: 10px;
}
#adding-catagory-input button span {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size: 1rem;
}

#adding-catagory-input button {
  height: 35px;
  width: auto;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgb(106, 106, 106) 1px;
  padding: 1rem 1rem;
  margin-left: 2px;
  background-color: transparent;
}

#adding-catagory-input button:hover{
  color: #ffffff;
  background-color: #000000;
  transition: all ease 0.3s;
}


#adding-catagory-header p {
  font-size: 20px;
  font-style: normal;
  /* font-weight: 200; */
  line-height: normal;
}
#adding-catagory-header p span {
  color: rgb(0, 149, 255);
}

/* Reminder data portion */

#reminder-data {
  height: 77vh;
  width: 1000px;
  border: solid rgb(132, 132, 132) 1px;
  margin: 0px;
  border-radius: 5px;
  padding: 10px;
  border-radius: 25px;
  /* box-shadow: -2.5px -2.5px 5px rgb(193, 191, 191); */
  /* background-color: #6953e4; */
  overflow: hidden;

}

#all-catagories {
  height: 10vh;
  width: 100%;
  /* border: solid black 1px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: scroll;
  flex-wrap: wrap;
  /* background-color: #f47878; */
}
.catagory-button {
  height: 30px;
  width: 130px;
  border: solid rgb(141, 141, 141) 1px;
  border-radius: 2px;
  transition: all ease 0.5s;
  margin: 5px;
  background-color: #464646;
}
/* .catagory-button:hover {
  background-color: #ffffff;
  color: #000000;
} */

#all-learning-container-zone {
  height: 58vh;
  width: 100%;
  /* border: solid black 1px; */
  margin: 2px;
  /* padding: 10px; */
  border-radius: 15px;
  overflow-y: scroll;
  flex-wrap: wrap;
  display: flex;
  justify-content: start;
  align-items: start;

  /* background-color: #42be82; */
}
.all-learning-containers {
  /* background-color: grey; */
  height: 58vh;
  width: 100%;
  border-radius: 15px;
  padding: 2px;
  display: none;
}

#delete-reminder-conatainer {
  height: 30px;
  width: 98%;
  margin: 8px;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#delete-reminder-conatainer:hover {
  background-color: #f47878;
}

.reminder-container {
  /* height: 150px; */
  height: auto;
  border: solid rgb(192, 192, 192) 1px;
  width: 270px;
  margin: 20px;
  border-radius: 15px;
  transition: all ease 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reminder-container:hover {
  /* height: 220px;
  width: 320px;
  margin: 0px; */
  transform: scale(1.15);
}

.reminder-container:hover .container-deleteUpdate {
  display: flex;
  border-radius: 0px 0px 15px 15px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.remainder-link{
  height: 40px;
  width: 40px;
  background-color: #fff;
  /* border: 1px solid rgb(70, 70, 70); */
  border-radius: 50%;
  margin: 3px;
}

.remainder-link a svg{
  height: 40px;
  width: 40px;
}

.remainder-details {
  /* background-color: #547324; */
  padding: 7px 5px 0px 20px;
  width: 100%;
}

.container-heading {
  width: 90%;
  height: auto;
  max-height: 45px;
  /* background-color: #2b513f; */
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.container-subHeading {
  width: 90%;
  height: 25px;
  font-size: 0.6rem;
  /* background-color: #6953e4; */
  font-style: italic;
  overflow-y: hidden;
  margin-bottom: 20px;
}
.container-subHeading p span {
  display: inline-block;
  background-color: #eceaea00;
  height: auto;
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.container-remimdTime {
  /* background-color: #c49442; */
  width: 90%;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(121, 121, 121);
  font-size: 13px;
  
}

.reminder-container:nth-child(1) {
  background-color: #ffffff00;
}

.container-deleteUpdate {
  height: 30px;
  width: 100%;
  background-color: var(--primary-color-red);
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  border-radius: 0 0 15px 15px;
  justify-content: center;
}

.container-deleteUpdate img {
  height: 25px;
  width: 25px;
}

/* Sperate reminder container for each container */
.visible {
  display: flex;
  align-items: start;
  justify-content: start;
  overflow-y: scroll;
  flex-wrap: wrap;
}

#contact {
  height: 5vh;
  width: 100%;
  /* border: solid black 1px; */
}



/* Add responsive */
@media (max-width: 650px) {
  /* Adjustments for smaller screens */
  #reminder-edit {
    height: 52vh;
  }
  #reminder{
    flex-wrap: wrap;
  }

  #remainder-operation{
    width: 100%;
  }
  
  
}


